.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: darkseagreen;
    padding: 10px;
    grid-gap: 10px;
}
.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    border: 6px green solid;
    padding: 20px;
    font-size: 30px;
    text-align: center;

}

.grid-item1{
    grid-row: 1;
    grid-column : 1/span3;
    text-align:center;
}

.grid-item2{
    grid-row: 2/span 2;


}
.grid-item9{
    grid-row: 4;
    grid-column : 1/span3;
    text-align:center;
}


.grid-item7{

}

h1{
    text-align:center;
}

img{
    width: 100px;
    height: 100px;
}

a:hover{
    color:red;
}

